affine==2.3.0
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1640855429528/work
astroid==2.4.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
atomicwrites==1.4.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1639405010350/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy @ file:///D:/bld/brotlipy_1636012381660/work
catboost==1.0.2
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046293990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1641584610847/work
click @ file:///D:/bld/click_1635822830533/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
cmdstanpy==0.9.68
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colour==0.1.5
convertdate==2.4.0
cryptography @ file:///C:/ci/cryptography_1639472366776/work
cvxpy==1.2.1
cycler==0.10.0
Cython==0.29.30
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///D:/bld/debugpy_1636043421411/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.13
dtreeviz==1.3.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
ephem==4.1.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1633213722787/work
Fiona==1.8.20
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///D:/bld/fonttools_1639926487978/work
GDAL==3.4.1
geographiclib==1.52
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1638382567988/work
geopy==2.2.0
graphviz==0.17
greykite==0.3.0
hijri-converter==2.2.3
holidays==0.13
holidays-ext==0.0.7
htmlmin==0.1.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ImageHash==4.2.1
importlib-metadata @ file:///D:/bld/importlib-metadata_1642514138647/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iniconfig==1.1.1
ipykernel @ file:///D:/bld/ipykernel_1642098493536/work/dist/ipykernel-6.7.0-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1642613902863/work
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==4.3.21
jedi @ file:///D:/bld/jedi_1637175281472/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1642000296051/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///D:/bld/jupyter_core_1636814449073/work
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets==1.0.2
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
llvmlite==0.38.1
LunarCalendar==0.0.9
lxml==4.6.3
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833725355/work
matplotlib==3.5.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe==0.6.1
missingno==0.5.0
mistune @ file:///D:/bld/mistune_1635844874781/work
multimethod==1.6
munch==2.5.0
munkres==1.1.4
mypy-extensions @ file:///D:/bld/mypy_extensions_1635839836822/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1642144614450/work
nbconvert @ file:///D:/bld/nbconvert_1641352164252/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1642016744468/work
numba==0.55.1
numpy @ file:///D:/bld/numpy_1640083403086/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
osmnx @ file:///home/conda/feedstock_root/build_artifacts/osmnx_1637178276549/work
packaging==21.3
pandas @ file:///D:/bld/pandas_1642871738130/work
pandas-profiling==3.1.0
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
patsy==0.5.2
phik==0.12.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1636558975346/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
plotly==5.3.1
pluggy==1.0.0
pmdarima==1.8.5
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1639065841292/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.10.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.8.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pylint==2.5.3
PyMeeus==0.5.11
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1641210604530/work
pyrsistent @ file:///D:/bld/pyrsistent_1642534741460/work
PySocks @ file:///D:/bld/pysocks_1635862590164/work
pytest==6.2.5
python-dateutil==2.8.1
pytorch-lightning==1.6.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets==1.1.1
pywin32==303
pywinpty @ file:///D:/bld/pywinpty_1637030176820/work/target/wheels/pywinpty-1.1.6-cp38-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///D:/bld/pyzmq_1635877383625/work
rasterio==1.2.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
Rtree @ file:///D:/bld/rtree_1637430983027/work
scikit-learn==1.1.1
scipy @ file:///C:/bld/scipy_1637806857964/work
seaborn==0.11.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
setuptools-git==1.2
shap @ file:///D:/bld/shap_1642344235973/work
Shapely==1.8.0
six==1.15.0
sktime==0.11.4
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
snuggs==1.4.7
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1642255706390/work
statsforecast==0.5.5
statsmodels==0.13.2
tangled-up-in-unicode==0.1.0
tbats==1.1.0
tenacity==8.0.1
terminado @ file:///D:/bld/terminado_1636052447744/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1635181214134/work
torch==1.11.0
tornado @ file:///D:/bld/tornado_1635819758615/work
tqdm==4.64.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typed-ast @ file:///D:/bld/typed-ast_1643045985582/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
ujson==5.3.0
unicodedata2 @ file:///D:/bld/unicodedata2_1640031186081/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
visions==0.7.4
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1635833007271/work
wrapt==1.12.1
xarray==2022.3.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1642713721774/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
